@import url(../global.css);

/* Main */

.main{
    background-color: #F1E8DC;
}

.main-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 20px 0px;
}

.divisor{
    text-align: center;
}

.divisor-carrosel{
    background-color: #fff;
    width: 700px;
    height: 380px;
}

.gallery{
    width: 700px;
    height: 380px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.gallery-element{
    background-color: #fff;
}