@import url(../global.css);


.box-recommended {
    display: inline-block;
    background-color: #fafafa;
    min-width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    bottom: 5px;
}
.flex-items span {
    font-weight: 600;
    font-size: 20px;

}
#add-carrinho img{
    background-color: #0A2463;
    padding: 5px;
    border-radius: 50px;
}


.scroll-section-recommended {
    width: 1300px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;

}