@import url(../global.css);


.box-recommends {
    background-color: #fafafa;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.flex-items {
    display: flex;
}
#add-carrinho img{
    background-color: #0A2463;
    padding: 5px;
    border-radius: 50px;
}

/* .red-detail {
    color: transparent;
    background-color: #74121D;
    width: 120px;
    height: 4px;
    position: absolute;
    bottom: 0;
} */